
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:regular,700);
body {
  text-align: center;
  background-color: #45a2ff;
}

#level-title {
  font-family: "Amatic SC", sans-serif;
  font-size: 5rem;
  margin:  30px;
  color: #ffffff;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 8px solid rgb(255, 255, 255);
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: rgb(255, 95, 95);
}

.green {
  background-color: rgb(89, 176, 89);
}

.blue {
  background-color: rgb(48, 48, 155);
}

.yellow {
  background-color: rgb(237, 227, 122);
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
